<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Partials/head.ejs -->
    <%- include('../partials/head.ejs') %>

    <title>All Current Applications</title>
  </head>
  <!-- NavBar -->
  <%- include('../partials/navbar.ejs') %>

  <body>
    <h1 class="allApp-h1">All Current Applications</h1>
    <main>
      <div class="list-group allApp-list app-form">
        <% companies.forEach(company => { %>
        <a
          href="/companies/<%= company._id %>"
          class="list-group-item active allapp-company"
          aria-current="true"
        >
          <%= company.name.toUpperCase() %>
        </a>
        <!-- Nested Jobs -->

        <% company.applications.forEach(application => { %>

        <a
          href="/applications/<%= application._id %>"
          class="list-group-item list-group-item-action"
        >
          <%= application.jobTitle %>
        </a>

        <% }); %> <% }) %>
      </div>
    </main>
  </body>
</html>
