<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Partials/head.ejs -->
    <%- include('../partials/head.ejs') %>

    <title>Application Tracker</title>
  </head>
  <!-- NavBar -->
  <%- include('../partials/navbar.ejs') %>

  <body>
    <div class="text-center">
      <h1>Application Show Page</h1>
    </div>
    <!-- Show App Info by ID -->
    <div class="container">
      <!-- First row -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Job Posting Title: </label>
          <%= application.jobTitle %></div>
        <div class="form-group col-md-3">
          <label>Company: </label>
          <%= application.company.name.toUpperCase() %></div>
      </div>

        <div class="col">Location: <%= application.location %></div>
        <div class="col">Remote: <%= application.remote %></div>
      <!-- Second Row -->
      <div class="row align-items-center">
        <div class="col">Date Applied: <%= application.dateApplied %></div>
        <div class="col">Posting URL: <%= application.postingUrl %></div>
        <div class="col">Resume: <%= application.resume %></div>
        <div class="col">Cover Letter: <%= application.coverLetter %></div>
      </div>
      <!-- Third Row -->
      <div class="row align-items-center">
        <div class="col">
          Reference Name: <%= application.referenceName %>
        </div>
        <div class="col">Phone: <%= application.referencePhone %></div>
        <div class="col">Email: <%= application.referenceEmail %></div>
        <div class="col">LinkedIn: <%= application.referenceLinkedIn %></div>
      </div>
      <!-- full Job Description box -->
      <div class="row align-items-center">
        <div class="col">
          Job Description: <%= application.fullJobDescription %>
        </div>
      </div>
      <!-- Notes -->
      <div class="row align-items-center">
        <div class="col">
          Notes: <%= application.notes %>
        </div>
      </div>
    </div>

    <!-- Delete button form -->
    <form
      action="/applications/<%= application._id %>?_method=DELETE"
      method="POST"
    >
      <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Delete" />
      </div>
    </form>

    <!-- Edit button form -->
    
      <div class="text-center">
        <a
          class="btn btn-primary"
          href="/applications/<%= application._id %>/edit"
          >Edit</a>
  </body>
</html>
