<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Partials/head.ejs -->
    <%- include('../partials/head.ejs') %>

    <title>Application Tracker</title>
  </head>
  <!-- NavBar -->
  <%- include('../partials/navbar.ejs') %>


  <body>
    <main>
      <div class="text-center">
        <h1>
          <%= application.jobTitle %>- <%=
          application.company.name.toUpperCase() %>
        </h1>
      </div>
      <!-- Show App Info by ID -->
      <div class="app-form">
        <!-- First row -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Job Posting Title: </label>
            <%= application.jobTitle %>
          </div>
          <div class="form-group col-md-3">
            <label>Company: </label>
            <%= application.company.name.toUpperCase() %>
          </div>
        </div>

    <!-- Location/Remote -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Location: </label>
        <%= application.location %>
      </div>
      <div class="form-group col-md-3">
        <label>Remote: </label>
        <%= application.remote %>
      </div>
    </div>
    <!-- Date/URL -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Date Applied: </label>
          <%= application.dateApplied.toLocaleDateString() %></div>
        <div class="form-group col-md-3">
          <label>Posting: </label>
          <a target=”_blank” class="btn btn-primary btn-sm" href="<%= application.postingUrl %>">Link</a></div>
      </div>

        <!-- Reference Container -->
        <label>References:</label>
        <div id="refbox">
          <!-- Reference Name/Phone -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Name: </label>
              <%= application.referenceName %>
            </div>
            <div class="form-group col-md-3">
              <label>Phone: </label>
              <%= application.referencePhone %>
            </div>
          </div>
          <!-- Reference Email/LinkedIn -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Email: </label>
              <%= application.referenceEmail %>
            </div>
            <div class="form-group col-md-6">
              <label>LinkedIn: </label>
              <a target=”_blank” class="btn btn-primary btn-sm" href="<%= application.referenceLinkedIn %>">Link</a>
            </div>
          </div>
      </div>
        <!-- full Job Description box -->
        <div class="form-row">
          <div class="form-group">
            <label>Job Description: </label>
            <div id="descriptionbox"><%= application.fullJobDescription %></div>
          </div>
        </div>

        <!-- Notes -->
        <div class="form-row">
          <div class="form-group">
            <label>Notes: </label>
            <div id="descriptionbox"><%= application.notes %></div>
          </div>
        </div>

        <!-- Delete button form -->
        <form
          action="/applications/<%= application._id %>?_method=DELETE"
          method="POST"
        >
          <div class="row justify-content-center">
            <div class="col-4">
              <input
                type="submit"
                class="btn btn-primary btn-block"
                value="Delete"
              />
            </div>
          </form>
            <!-- Edit button form -->
            <div class="col-4">
              <a
                class="btn btn-primary btn-block"
                href="/applications/<%= application._id %>/edit"
                >Edit</a
              >
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>